.user-notifications {
  display: block;
  position: absolute;
  left: 50%;
  width: 300px;
  margin-left: -150px;
}

.user-notifications li {
  list-style-type: none;
  width: 300px;
  height: 30px;
  margin-bottom: 10px;
  line-height: 30px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.user-notifications li.info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
}

.user-notifications li.error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebcccc;
}

.user-notifications li.success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d0e9c6;
}

.user-notifications li.warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faf2cc;
}

.user-notifications li .message {
  display: inline-block;
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-notifications li .close {
  float: right;
}

.user-notifications li .close:before {
  content: "\00d7";
}